@import url(../css/_reset.css);

header {
    font-family: 'Patrick Hand', sans-serif;
    background-color: rgba(191, 131, 247, 0.575);

    width: 100%;
}

body{
    background-color: rgb(29, 25, 31);

}

main {
    width: 100%;
    font-family: 'Patrick Hand', sans-serif;
    background-color: rgb(231, 221, 235);
}

.container {
    display: flex;
    align-items: center;
}

footer{
    width: 100%;
    height: 40px;
    background-color: rgba(191, 131, 247, 0.575);

    display: flex;
    align-items: center;
    justify-content: center;
}