.principal__container {
    width: 70%;
    margin: 0 auto 25px auto;
}

.input__item {
    display: inline-block;
}
      

.principal__titulo{
    font-size: 25px;

    margin: 25px 0 12px 0;
}


input {
    padding: 4px 6px;
    line-height: 31px;
    margin: 4px 6px 4px 0px;

    font-family: 'Patrick Hand', sans-serif;
    font-size: 20px;
    
    border-radius: 5px;
    border: 1px;
    outline: none;

}

select{
    padding: 4px 6px;
    line-height: 70px;
    margin: 4px 6px 4px 0px;

    font-family: 'Patrick Hand', sans-serif;
    font-size: 20px;
    
    border-radius: 5px;
    
}

#dia{
    width: 40px;
    text-align: center;
}

#valor {
    width: 100px;
}

#descricao {
    width: 300px;
}

.tabela__container {
	height: 100%;
	margin: 0 auto;

    background-color: aquamarine;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

th, td {
    padding: 4px 50px;

}

footer h2 {
    font-size: 18px;
}

.botao {
    line-height: 30px;
}